<!doctype html>
<html lang="en">

<head>
  <title>Team Cloud Computing</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <!--cdncss link-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <link rel="stylesheet" href="/static/css/lightbox.min.css">

  <!--style sheet-->
  <link rel="stylesheet" href="/static/css/style.css">


</head>

<body>
  <header id="top" class="position-sticky top-0 start-0" style="z-index:10; height: 10px;">  </header>
  <section>
    <div class="container">
      <div class="swiper banner-swiper">
        <div class="swiper-wrapper">
          <!-- Member 1 -->
          <div class="testimonial-card banner rounded-4 p-5 px-4 swiper-slide"
            style="background-image: url('/static/img/kunss.jpg'); background-size: cover; background-position: center;">
            <div class="text-content text-white py-5 my-5">
              <p class="fs-4">22.83.0846</p>
              <h1 class="display-1">Kuncoro <br> Sihna Mahendra</h1>
            </div>
            <div class="row text-uppercase bg-black rounded-4 p-3 mt-5">
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">ABOUT</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">Insan penuh rasa penasaran, <br> Sulit dan rumit</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">EDU</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">SMA N 1 Prambanan Klaten</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Member 2 -->
          <div class="testimonial-card banner rounded-4 p-5 px-4 swiper-slide"
            style="background-image: url('static/img/han.png'); background-size: cover; background-position: center;">
            <div class="text-content text-white py-5 my-5">
              <p class="fs-4">22.83.0842</p>
              <h1 class="display-1">Marifah <br> Hadaina Faza</h1>
            </div>
            <div class="row text-uppercase bg-black rounded-4 p-3 mt-5">
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">ABOUT</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">Be grateful <br> like cooking </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">EDU</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">SMA N 2 Wates</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Member 3 -->
          <div class="testimonial-card banner rounded-4 p-5 px-4 swiper-slide"
            style="background-image: url('/static/img/rid.jpg'); background-size: cover; background-position: center;">
            <div class="text-content text-white py-5 my-5">
              <p class="fs-4">22.83.0857</p>
              <h1 class="display-1">Ridha <br> Nurrachmat</h1>
            </div>
            <div class="row text-uppercase bg-black rounded-4 p-3 mt-5">
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">About</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">Digital Entrapment</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">EDU</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">SMK Negeri 2 Klaten</br> Sistem Informasi Jaringan Aplikasi <br> 2021</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Member 4 -->
          <div class="testimonial-card banner rounded-4 p-5 px-4 swiper-slide"
            style="background-image: url('/static/img/fira.png'); background-size: cover; background-position: center;">
            <div class="text-content text-white py-5 my-5">
              <p class="fs-4">22.83.0880</p>
              <h1 class="display-1">Alfira Yuniar <br> Rusman Putri </h1>
            </div>
            <div class="row text-uppercase bg-black rounded-4 p-3 mt-5">
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">ABOUT </h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">Jangan Sedih<br> Hidup Masih Panjang </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center gap-4">
                  <h2 class="display-2 text-light">EDU</h2>
                  <p class="text-light-emphasis justify-content-center m-0 ls-4">SMK Negeri 1 Klaten <br> Teknik Komputer Jaringan dan Telekomunikasi <br> 2022 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-swiper-pagination position-relative mt-4 text-center"></div>
      </div>
    </div>
  </section>
  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/static/js/jquery-1.11.0.min.js"></script> <!-- jquery file-->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> <!--cdn link-->
  <script src="/static/js/plugins.js"></script>
  <script type="text/javascript" src="/static/js/lightbox.min.js"></script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script>
    var bannerSwiper = new Swiper('.banner-swiper', {
      loop: true,  // Membuat slider berulang
      spaceBetween: 20,
      pagination: {
        el: '.banner-swiper-pagination',  // Elemen pagination
        clickable: true,  // Membuat pagination bisa diklik
      },
      navigation: {
        nextEl: '.swiper-button-next',  // Tombol 'next'
        prevEl: '.swiper-button-prev',  // Tombol 'previous'
      },
    });
  </script>
  
</body>

</html>
